body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Loki';
  src: local('Loki'), url(./fonts/Loki-Regular.otf\ 00-27-44-923.otf) format('opentype');
}

@font-face {
  font-family: 'Anders';
  src: local('Anders'), url(./fonts/Anders.ttf) format('truetype');
}

@font-face {
  font-family: 'Cubes';
  src: local('Cubes'), url(./fonts/Cute\ Notes.ttf) format('truetype');
}
